@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

::-webkit-scrollbar {
  width: calc(100vw / 200);
}
::-webkit-scrollbar-track {
  background: #333;
}
::-webkit-scrollbar-thumb {
  background: chartreuse;
  border-radius: 20px;
  transition: all ease-in-out;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
html,
body {
  padding: 0;
  margin: 0;
  background-color: #191919;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

footer {
  padding: 0;
  margin: 0;
  bottom: 0;
  text-align: center;
  border-top: 1.5px solid chartreuse;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  font-weight: 400;
  line-height: 113px;
  color: chartreuse;
  box-sizing: border-box;
}

.type-effect {
  display: block;
  font-size: 2.5em;
  width: fit-content;
  padding: 2%;
  margin: 10%;
  max-width: 70%;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  letter-spacing: 0.15em;
  animation: typing 2.5s steps(40, end);
}

.type-effect:hover {
  border-bottom: 0.35em solid chartreuse;
  animation: blink-caret 0.75s infinite;
  background-color: whitesmoke;
  color: #191919;
  cursor: text;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: chartreuse;
  }
}

.title {
  font-size: 96px;
  color: whitesmoke;
}

.title-secondary {
  font-size: 40px;
}

.description {
  font-size: 60px;
  margin-right: auto;
  margin-left: auto;
  width: 40%;
  opacity: 0.8;
  color: whitesmoke;
}

.seperator {
  border: 5px solid whitesmoke;
  border-radius: 5px;
  opacity: 1;
}

.icon {
  margin: 15px;
}

.icon:hover {
  color: black;
}

.description-secondary {
  font-size: large;
  opacity: 0.8;
}

container {
  text-align: center;
}

description-ternary {
  font-size: medium;
  color: chartreuse;
  opacity: 0.8;
}

.filter-container {
  position: relative;
  font-size: larger;
  margin-top: 5%;
  left: 12%;
}
.filter-container > select {
  background-color: #191919;
  border: white 2px solid;
}

@media (max-width: 1000px) {
  * {
    font-size: calc(100vw / 60);
  }
  .dont-change {
    font-size: 96px;
  }
  .description-secondary {
    display: none;
  }
}
